<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-4" style="max-width: 35%; width: 100%;">
        <h3 class="text-center mb-3"><i class="bi b-arrow-repeat"></i> Reset Password</h3>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
            <div class="mb-3">
                <label for="new password">New Password</label>
                 <div class="input-group">
                    <input formArrayName="password" [type]="shared.getShowPassword() ? 'text':'password'" class="form-control" placeholder="New Password">
                    <button type="button" class="btn btn-outline-secondary border" (click)="shared.togglePassword()">
                        <i class="bi" [ngClass]="shared.getShowPassword() ? 'bi-eye-slash' : 'bi-eye'"></i>
                    </button>
                 </div>
                 <p *ngIf="getResetPasswordFormControl('password')?.invalid && getResetPasswordFormControl('password')?.touched">
                    <span *ngIf="getResetPasswordFormControl('password')?.errors?.['required']" class="text-danger">Password is required</span>
                    <span *ngIf="getResetPasswordFormControl('password')?.errors?.['minlength']" class="text-danger">Password should contain minimum 6 characters</span>
                 </p>
            </div>
            <div class="mb-3">
                <label for="confirm password">Confirm Password</label>
                 <div class="input-group">
                    <input formControlName="confirmPassword" [type]="shared.getShowConfirmPassword() ? 'text':'password'" class="form-control" placeholder="Confirm Password">
                    <button type="button" class="btn btn-outline-secondary border" (click)="shared.toggleConfirmPassword()">
                        <i class="bi" [ngClass]="shared.getShowConfirmPassword() ? 'bi-eye-slash':'bi-eye'"></i>
                    </button>
                 </div>
                 <p *ngIf="getResetPasswordFormControl('password')?.invalid && getResetPasswordFormControl('password')?.touched">
                    <span *ngIf="getResetPasswordFormControl('password')?.errors?.['required']" class="text-danger">Confirm password is required</span>
                 </p>
            </div>
            <button type="submit" class="btn btn-primary w-100"><i class="bi bi-check-circle"></i> Reset Password</button>
        </form>
        <div class="text-center mt-3">
            <a routerLink="/login">Back to Login</a>
        </div>
    </div>
</div>